.pb-button {
    display: block;
    outline: 0 none;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 16px;
    height: 47px;
    line-height: 47px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx){
    .pb-button {
        position: relative;
        border: none;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    .pb-button::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 200%;
        height: 200%;
        border: 1px solid #ddd;
        border-radius: 8px;
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        pointer-events: none;
        z-index: -1;
    }
}

.pb-button.pb-button-active {
    background-color: #ddd;
}

.pb-button.pb-button-disabled {
    color: rgba(51, 51, 51, 0.3);
    opacity: 0.6;
}

.pb-button-primary {
    color: #fff;
    background-color: #f07c01;
    border: 1px solid #f07c01;
    border-radius: 4px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .pb-button-primary {
        position: relative;
        border: none;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    .pb-button-primary::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 200%;
        height: 200%;
        border: 1px solid #f07c01;
        border-radius: 8px;
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        pointer-events: none;
        z-index: -1;
    }
}

.pb-button-primary.pb-button-active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #CD6A01;
}

.pb-button-primary.pb-button-disabled {
    color: rgba(255, 255, 255, 0.6);
    opacity: 0.4;
}

.pb-button-warning {
    color: #fff;
    background-color: #f44;
}

.pb-button-warning.pb-button-active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #CD3737;
}

.pb-button-warning.pb-button-disabled {
    color: rgba(255, 255, 255, 0.6);
    opacity: 0.4;
}

.pb-button-ghost {
    color: #f07c01;
    background-color: transparent;
    border: 1px solid #f07c01;
    border-radius: 4px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .pb-button-ghost {
        position: relative;
        border: none;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
    .pb-button-ghost::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 200%;
        height: 200%;
        border: 1px solid #f07c01;
        border-radius: 8px;
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        pointer-events: none;
        z-index: -1;
    }
}

.pb-button-ghost.pb-button-active {
    color: rgba(240, 124, 1, 0.6);
    background-color: transparent;
    border: rgba(240, 124, 1, 0.6);
    border-radius: 4px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .pb-button-ghost.pb-button-active {
        position: relative;
        border: none;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    .pb-button-ghost.pb-button-active::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 200%;
        height: 200%;
        border: 1px solid rgba(240, 124, 1, 0.6);
        border-radius: 8px;
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        pointer-events: none;
        z-index: -1;
    }
}

.pb-button-ghost.pb-button-disabled {
    color: rgba(51, 51, 51, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    opacity: 1;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .pb-button-ghost.pb-button-disabled{
        position: relative;
        border: none;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    .pb-button-ghost.pb-button-disabled::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 200%;
        height: 200%;
        border: 1PX solid rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        pointer-events: none;
        z-index: -1;
    }
}

.pb-button.pb-button-inline {
    display: inline-block;
    padding: 0 15px;
}

.pb-button-small {
    font-size: 12px;
    height: 30px;
    line-height: 30px;
}

.pb-button-mini {
    font-size: 10px;
    height: 20px;
    line-height: 20px;
}

.pb-button-icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.pb-button-inline.pb-button-icon {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.pb-button-icon-loading {
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

.pb-button-small .pb-button-icon-loading {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.pb-button-mini .pb-button-icon-loading {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.pb-button-icon-loading svg path,
.pb-button-icon-loading svg rect {
    fill: #FF6700;
}

.pb-button-font-icon {
    margin-right: 3px;
}