.pb-wing-blank {
    margin-left: 8px;
    margin-right: 8px;
}

.pb-wing-blank.pb-wing-blank-sm {
    margin-left: 5px;
    margin-right: 5px;
}

.pb-wing-blank.pb-wing-blank-md {
    margin-left: 8px;
    margin-right: 8px;
}

.pb-wing-blank.pb-wing-blank-lg {
    margin-left: 15px;
    margin-right: 15px;
}